<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <!-- <link rel="stylesheet" href="/static/styles.css" /> -->
    <title>Document</title>
    
</head>
<body>
    <h3>Contact Us</h3>
    <p>Call us on 0719796840.</p>

    <p>Email us at: <a href="mailto:tzirw@example.com">isaomo360@gmail.com</a>
    <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
</body>
</html>